body {
    font-family: Arial, sans-serif;
    background-color: rgb(39, 39, 39);
    color: white;
}

.gridster {
    margin: 0 auto;
}

.gridster * {
	margin:0;
	padding:0;

}

.gridster>ul {
	list-style-type: none;
}

.gridster>ul>li {
	text-align: center;
	background-color: #21475F;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	overflow: hidden;
}

/* Disable pointer events, i.e. click by default */
.widget-container {
	padding: 5px;
	pointer-events: none;
	white-space: nowrap;
}

.gridster>ul>li {
	cursor: move;
}

/* When resize is disabled, enable pointer events */
.gs-resize-disabled .widget-container {
	pointer-events: inherit;
	cursor: inherit;
}

.gridster ul.gs-resize-disabled>li {
	pointer-events: inherit;
	cursor: inherit;
}